<!DOCTYPE html>  
 <html lang="en">  
 <head>  
   <meta charset="UTF-8">  
   <meta http-equiv="X-UA-Compatible" content="IE=edge">  
   <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
   <link rel="stylesheet" href="../static/css/login_signin.css">  
   <title>Log In Page</title>  
   
 </head>  
 <body>   
   <section class="login_sec">  
    <form method="post" action="/login"> 
   <div class="container">  
     <div class="heading">  
       <h1 style="color: black;">Log In</h1>   
     </div>  
     <div class="items">  
       <label for="email">  
         <span style="color: black;">Email address</span>  
         <input type="email" placeholder="paydirtpete@miners.utep.edu" class="inp">  
       </label>  
       <label for="password">  
         <div class="inline">  
           <span style="color: black;">Password</span>   
         </div>  
         <input type="password" placeholder="Go Miners" class="inp">  
       </label>  
       <label for="submit">  
         <input type="submit" value="Log In" class="login_button">  
       </label>
       <div class="inline">
        <span class="signin">Don't have an account? Sign in!</span> 
       </div>  
     </div>  
    </div>  
   </div>  
   </form>  
   </section>  
 </body>  
 </html>  