<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make a new thread</title>
</head>
<body>
    <h1>
        Write a new thread
    </h1>
    <form action = '/create_thread', method = 'POST'>
        <input type="text" name='title' placeholder="Title:"/>
        <input type="text" name="text" placeholder="Insert Text"/>
        <input type="text" name="video_link" placeholder="insert youtube link"/>
        <input type="text" name="image_link" placeholder="insert image url"/>
        <input type="submit" value="Submit">
    </form>
</body>
</html>