<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/login_signin.css">
        <title>Sign In Page</title>  
    </head>
    <body>
        <section class="login_sec">
            <form method="post" action>
                <div class="container">
                    <div class="heading">
                        <img src="../static/pick.png" style="float: none; " alt="logo"/> 
                        <h1 style="color: black;">Create your account!</h1>
                    </div>
                    <div class="items">
                        <label for="username">
                            <div class="inline">
                                <span style="color: black;"> Enter your username</span>
                            </div>
                            <input type="username" name="username" class="inp" value="">
                        </label>
                        <label for="email">
                            <span style="color:black">Enter your email address</span>
                            <input type="email" name="email" class="inp" value="">
                        </label>
                        <label for="password">
                            <div class="inline">
                                <span style="color: black;"> Enter your password</span>
                            </div>
                            <input type="password" name="password" class="inp" value="">
                        </label>
                        <label for="classification">
                            <div class="inline">
                                <span style="color: black;"> Enter your current classification</span>
                            </div>
                            <input type="classification" name="password" class="inp" value="">
                        </label>
                        <label for="submit">  
                            <input type="submit" value="Sign In" class="button">  
                        </label>
                    </div>
                </div>
            </form>
        </section>
    </body>    
</html>
 