<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>threadify/{{thread_info['title']}}</title>
</head>
<body>
    <h1>{{thread_info['title']}}</h1>
    <p class="thread_content">{{thread_info['text']}}</p>
    <div class="all_comments">
        {% for comment in comments%}
        <div class="individual_comment">
            comment
        </div>
        {% endfor %}
    </div>
    <div class="new_comment">
    <form action = '/thread/{{thread_info["id"]}}', method = 'POST'>
        <input type="text" name='new_comment' placeholder="Add a new comment"/>
        <input type="submit" value="Submit">
    </form>
    </div>


</body>

</html>